src/META-INF/wsdl/localhost_8000/imcws.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://webserviceimc/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webserviceimc/">

<xs:element name="getIMC" type="tns:getIMC"></xs:element>

<xs:element name="getIMCResponse" type="tns:getIMCResponse"></xs:element>

<xs:complexType name="getIMC">
<xs:sequence>
<xs:element name="altura" type="xs:double"></xs:element>
<xs:element name="peso" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIMCResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>